extends layout

block content
    h1 #{title}
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas urna ac feugiat mollis. In in iaculis nibh, nec convallis enim. Pellentesque nulla metus, pellentesque in nisi at, posuere consequat ante. Donec cursus in eros in interdum. Aliquam in rhoncus eros, quis tempus eros. In malesuada placerat erat id bibendum. Suspendisse aliquam lacinia lobortis. Donec non est at quam aliquet cursus.
