extends layouts/base

block content
    h1 #{title}
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas urna ac feugiat mollis. In in iaculis nibh, nec convallis enim. Pellentesque nulla metus, pellentesque in nisi at, posuere consequat ante. Donec cursus in eros in interdum. Aliquam in rhoncus eros, quis tempus eros. In malesuada placerat erat id bibendum. Suspendisse aliquam lacinia lobortis. Donec non est at quam aliquet cursus.

    p Aliquam sagittis tincidunt lectus non sagittis. Fusce sed turpis ullamcorper, suscipit sem sed, sollicitudin urna. Ut suscipit nibh at libero tristique malesuada. Donec ex mi, posuere sit amet mauris porta, convallis ornare leo. Vivamus nec turpis at ipsum pulvinar eleifend in sed mauris. Proin vitae dolor purus. Aenean eleifend nunc at eros porttitor viverra. Curabitur dictum lectus et nulla rutrum dictum. Donec id sagittis est. Vestibulum risus massa, cursus quis ullamcorper vitae, gravida ac risus. Suspendisse in luctus lorem.

    